<nav
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        background-color: cyan;
        width: 100vw;
      "
    >
      <a
        href="/login"
        style="
          color: white;
          font-size: 20px;
          padding: 10px;
          text-decoration: none;
          color: #fff;
          text-decoration: none;
          {{!-- margin: 50px 0; --}}
          margin-right: 20px;
          transition: background-color 0.2s ease-in-out;
          font-size: 25px;
          border: 2px solid rgb(155, 235, 228);
          background: linear-gradient(rgb(57, 133, 133) 80%, white);
          padding: 8px 20px;
          border-radius: 10px;
        "
        >Login</a
      >
      <a
        href="/register"
        style="
          color: white;
          font-size: 20px;
          padding: 10px;
          text-decoration: none;
          color: #fff;
          text-decoration: none;
          {{!-- margin: 50px 0; --}}
          margin-right: 20px;
          transition: background-color 0.2s ease-in-out;
          font-size: 25px;
          border: 2px solid rgb(14, 221, 14);
          background: linear-gradient(darkcyan 80%, white);
          padding: 8px 20px;
          border-radius: 10px;
        "
        >Sign Up</a
      >
<a
        href="/searchuser"
        style="
          color: white;
          font-size: 20px;
          padding: 10px;
          text-decoration: none;
          color: #fff;
          text-decoration: none;
          {{!-- margin: 50px 0; --}}
          margin-right: 20px;
          transition: background-color 0.2s ease-in-out;
          font-size: 25px;
          border: 2px solid rgb(14, 221, 14);
          background: linear-gradient(darkcyan 80%, white);
          padding: 8px 20px;
          border-radius: 10px;
        "
        >Search</a>

    </nav>