<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Media</title>
  </head>

<style>
h1{
  border: 2px solid rgb(248, 207, 158);
  background-color: rgb(251, 240, 160);
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
  color: rgb(193, 108, 3);
  text-align: center;
}
h3{
font-size: 20px;
border-radius: 10px;
background-color: rgb(207, 241, 207);
text-align: center;
color:seagreen;
}
span{
  font-weight: 800;
}
</style>

   {{>header1}}
  <body>
<h1>Hello User , Welcome to the Home Page</h1>
<h3>You can Create Posts and Even Have a look at what others have posted , once you <br><span>LogIn / SignUp</span></h3>
  </body>
</html>